/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v25-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-cyrillic_latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-cyrillic_latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  .main{
    width: 100%;
  }
.container{
margin: 29px 80px;
width: auto;
}
body{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}
#rectangle {
    position: absolute;
	top: 0;
	left: 50;
	width: 402px;
	height: 1264px;
	background:#00A0D2;
    z-index: -1;
    
    margin: 0 0;
}
#rect2{
    top: 7px;
	left: 50;
    border-radius: 5px;
	width: 322px;
	height: 7px;
	background: #0084AD;
    margin-bottom: 20px;
}
#rect3{
    border-radius: 5px;
	width: 739px;
	height: 7px;
	background: #0084AD;
    margin-bottom: 20px;
}
.lov{
    font-weight: 500;
    height: 40px;
}
.big{
    height: 40px;
    margin-top: 20px;
}
.num{
    height: 40px;
    margin-top: 40px;
}
.lang{
    height: 40px;
    margin-top: 90px;
}
.info{
    margin: -1150px 480px;
    color:#033493;
    z-index: 1;
    width: 70%;
}

.lov_{
    margin-top: 0px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 22px;
    color: #000;
}
